<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>149956547132-aea3amlfppuv9let4rapr7bvapqp7knf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.149956547132-aea3amlfppuv9let4rapr7bvapqp7knf</string>
	<key>API_KEY</key>
	<string>AIzaSyCxcvJAhcG8NW8P64hLmc8f0fv_IrPeHvA</string>
	<key>GCM_SENDER_ID</key>
	<string>149956547132</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.german.med</string>
	<key>PROJECT_ID</key>
	<string>german-med</string>
	<key>STORAGE_BUCKET</key>
	<string>german-med.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:149956547132:ios:48797eac0089633eba2939</string>
</dict>
</plist>